.AddTodoParent {
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: fixed; */
}

.todoContainer {
    width: 300px;
    height: 243px;
    border-radius: 5px;
    box-shadow: 8px 8px 13px -2px #222, -8px -8px 15px -2px #3a3a3a;
    padding: 5px 12px;
    position: fixed;
    right: 83px;
    background: #323232;
}
.todoContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 44%;
}
.todoContainer form input {
    background: #444;
    margin: 10px 0;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 5px;
    padding: 2px 7px;
    color: #ffffff;
}
.todoContainer form button[type="submit"] {
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 40px;
    background: #444;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.todoContainer form > button:hover ,.todoContainer > button:hover {
    background-color: #252525;
}
.todoContainer > button {
    width: 100%;
    border: none;
    height: 40px;
    background: #444;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
@media (max-width:1200px) {

}
@media (max-width:992px) { 

}
@media (max-width:768px) { 
    .AddTodoParent { 
        top: 40px;
    }

    .todoContainer { 
        width: 256px;
        right: 41px;

    }

}
@media (max-width:576px) { 
    .todoContainer {
        right: 162px;
        height: 180px;
        position:static;
        
    }
    .todoContainer form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 40%;

    }
    .todoContainer form input {
        background: #444;
        margin: 2px 0;
        border: none;
        outline: none;
        height: 27px;
        border-radius: 3px;
        padding: 2px 7px;
        color: #ffffff;
    }
    .todoContainer form button[type="submit"] {
        bottom: 6px;
        height: 28px;
        border-radius: 3px;
    }
    
    .todoContainer > button {
        height: 28px;
        border-radius: 3px;
    }


}

