.container {
    /* width: 300px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 8px 8px 13px -2px #222, -8px -8px 15px -2px #3a3a3a;
    padding: 15px 12px;
    position: fixed;
    right: 83px;
    top: 330px; */
    margin-top: 10px;
}
.container .filterButtons { 
    width: 100%;
    /* height: 40px; */
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .filterButtons button { 
    width: 32%;
    border: none;
    height: 30px;
    border-radius: 3px;
    padding: 3px 2px;
    text-align: center;
    background: #444;
    color: #fff;

}
.activeButton {
    box-shadow:inset -4px -4px 4px #525151,inset 4px 4px 4px #363636;
}
.container h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;

}
@media (max-width:1200px) {

}
@media (max-width:992px) { 

}
@media (max-width:768px) { 

}
@media (max-width:576px) { 
    .container h4 { 
        font-size: 14px;
        margin:6px 0 ;
    }
    .container .filterButtons button { 
        font-size: 10px;
    }


}